@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
    }
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.indexBox {
    margin-top: 5%;
    margin-bottom: 10%;
    border-right: solid 1px #C8C4BE;
    border-left: solid 1px #C8C4BE;
}

.indexBox:after {
    content: "";
    display: block;
    clear: both;
}

.infoBox {
    background-color: #f8f4e6;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    text-align: center;
}

.img {
    width: 100%;
}

.imgBox {
    width: 100%;
}

.indexTitle {
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
}

.it {
    color: black;
    text-decoration: none;
    display: block;
}

.index {
    border: solid 1px #C8C4BE;
    margin-bottom: 2%;
    float: left;
}

@media screen and (min-width: 821px){
    .indexBox {
        width: 80%;
        margin-left: 10%;
    }

    .index {
        width: 42.5%;
        margin-left: 5%;
    }
    
    .infoBox {
        width: 50%;
        margin-left: 25%;
        margin-top: 5%;
    }
    
    .book-list {
        width: 20%;
        margin-left: auto;
    }
}

@media screen and (max-width:820px){
    .indexBox {
        width: 80%;
        margin-left: 10%;
    }

    .index {
        width: 42.5%;
        margin-left: 5%;
    }
    
    .infoBox {
        width: 50%;
        margin-left: 25%;
        margin-top: 5%;
    }
    
    .book-list {
        width: 20%;
        margin-left: auto;
    }
}

@media screen and (max-width:425px){
    .indexBox {
        width: 60%;
        margin-left: 20%;
    }

    .index {
        width: 100%;
        margin-left: 0;
        border-left: none;
        border-right: none;
    }
    
    .infoBox {
        width: 50%;
        margin-left: 25%;
        margin-top: 5%;
    }
    
    .infos {
        font-size: 12px;
    }
    
    .book-list {
        width: 20%;
        margin-left: auto;
    }
}